/**
 * MAIN
 * Quick and dirty skin
 */
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,600,800&subset=cyrillic,latin-ext');

// Colours & theme
$main: #2e1f17;
$bg-light: #e6ddd2;
$text-header: #967a6c;
$text-inverted: #ffece2;
$font: Roboto, Helvetica, Arial, sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: $text-header;
  font-family: $font;
  a {
    color: $text-header;
  }
}

body {
  background: $bg-light;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #555;
}

// Quick override of the default navbar
#site-header {
}

#site-navbar {
  padding: 30px 0 0 0;
  background-color: $main;
  color: #fff;
  border-radius: 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;

  .navbar {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    margin: 0 auto;
  }

  a {
    color: $text-inverted;
    font-weight: 200;
    font-size: 16px;
    &.active {
      background: rgba(0, 0, 0, 0.4);
    }
  }

}

// Site Hero Banner
#site-banner {
  height: 500px;
  background: url(../images/hero.jpg) center center;
  background-size: cover;
  padding-top: 150px;
  text-align: center;

  .site-slogan {
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    color: $bg-light;
    font-weight: 500;
    width: auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 30px;
  }

}

// Main container
.main-container {
  background: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding-top: 4px;
  margin-top: -50px;

  .nav-tabs {
    padding: 20px 20px 0 20px;
  }
}

// Node

.node {
  padding: 20px;
}

// Article full
.node-article-full {
  .title,
  .subtitle {
    margin: 0;
    padding: 0;
  }

  .subtitle{
    margin: 0 0 10px 0;
  }

  .copy {
    margin: 20px 0 0 0;
  }
  .image {
    margin: 0 20px 20px 0;
  }

}

// Article teaser
.node-article.node-teaser {
  min-height: 250px;
  position: relative;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .title,
  .subtitle {
    margin: 0;
    padding: 0;
  }

  .title {
    a {
      color: $text-header;
    }
  }

  .subtitle {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 200;
  }

  // Odd & Even styles (striping)
  .views-row-even & {
    background: #fcfcfc;
  }

  // Special highlighted article
  &.highlighted {
  }

  &.highlighted:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent $main transparent transparent;
    display: block;
  }

}


// Article listing

.view-articles {
  padding: 20px;

  .view-filters {
    margin-bottom: 30px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
  }

}


// Additional - lines listing

.view-lines {
  padding: 20px;
}

#block-system-main {
  min-height: 100px;


}


/**
 * STOPWATCH
 */

.stopwatch {
  text-align: center;
  padding: 100px 0;
}

.stopwatch-outer {
  background: #e1e1e1;
  padding: 1px;
  border-radius: 43px;
  display: inline-block;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.4), -4px 4px 8px rgba(0,0,0,0.4);
  border: 4px solid #69676c;
}

.stopwatch-screen {
  background: #0c0c0c;
  border: 3px solid #262b2e;
  padding: 10px 15px 90px 15px;
  border-radius: 38px;
  width: 500px;
  min-height: 200px;
  position: relative;
  box-sizing: content-box;
}

.stopwatch-display {
  font-size: 50px;
  color: #ccffcc;
}

.stopwatch-laps {
  color: #ccffcc;
  width: 50%;
  float: right;
}

.stopwatch-controls{
  width: 50%;
  float: left;
}

/**
 * POSTER
 */

.poster {
  padding: 100px 0;

  .background {
    background: #fceade;
    width: 393px;
    height: 563px;
    position: relative;
    margin: 0 auto;
    &.original {
      background: url(/sites/all/themes/ddc_theme/images/poster.jpg);
    }
  }

  .bar,
  .triangle,
  .copy {
    position: absolute;
  }
  .bar-1 {
    background: #1082c9;
    top: 123px;
    left: 0;
    width: 156px;
    height: 250px;
  }

  .bar-2 {
    background: #fc0e2e;
    top: 123px;
    right: 0;
    width: 115px;
    height: 250px;
  }

  .bar-3 {
    background: #191a15;
    height: 315px;
    width: 70px;
    top: 123px;
    right: 115px;
  }

  .bar-4 {
    background: #191a15;
    width: 45px;
    height: 120px;
    top: 438px;
    right: 115px;
  }

  .triangle-1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 75px 120px 0;
    border-color: transparent #191a15 transparent transparent;
    top: 438px;
    right: 160px;
  }

  .triangle-2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 0 0 70px;
    border-color: transparent transparent transparent #191a15;
    top: 5px;
    right: 115px;
  }

  .copy,
  .copy a {
    color: #191a15;
  }

  .copy-1 {
    font-size: 27px;
    top: 393px;
    left: 15px;
    width: 150px;
    font-weight: 800;
    line-height: 24px;
  }

  .copy-2 {
    left: 15px;
    top: 473px;
    font-size: 10px;
    line-height: 11px;
    font-weight: 400;
  }

  .copy-3 {
    right: 15px;
    top: 473px;
    width: 100px;
    text-align: center;
    font-size: 9px;
  }

}